<!-- @format -->
{% load static %} 

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />	
		{% comment %} BOOTSTRAP CDN STARTS HERE {% endcomment %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		{% comment %} <link rel="stylesheet" href="./Bootstrap/css/bootstrap.min.css"> {% endcomment %}
		
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		{% comment %} BOOTSTRAP CDN ENDS HERE {% endcomment %}
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'general/css/style.css' %} />
		{% comment %} <link rel="stylesheet" href={% static 'dashboard/css/style.css' %} /> {% endcomment %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		{% comment %} JQUERY {% endcomment %}
		<script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>

</head>
	{% comment %} <body>
		<div class="wrapperanimate">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <span>Loading</span>
    </div> {% endcomment %}
		<div id='overlay'></div>
        {% include "navbar.html" %}{% block content %}{% endblock content %}
		<script src={% static 'general/js/main.js' %}></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js" ></script>
		{% comment %} <script>
			  
			let dashboardIcon = document.querySelector('#dashboardIcon')
			let dashboardTwo = document.querySelector('.dashboard')
			let dashboardThree = dashboardTwo.addEventListener('mouseout')
			if (window.location.href.includes('dashboard') && dashboardThree){
			dashboardIcon.style.fill='white'
			console.log('dashboard active')
			}

		</script> {% endcomment %}
		{% comment %} <script>
			$(document).ready(function(){
			$(".wrapperanimate").fadeOut();
			document.querySelector('.wrapperanimate').style.display="none";
			})
			</script> {% endcomment %}
    </body>
    </html>

